.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post {
  width: 100%;
  margin: 16px 0;
  padding: 16px;
}

.blog-media {
  width: 100%;
  height: auto;
}

.blog-link {
  color: #333;
  transition: all 0.3s ease;
  display: inline-block;
  padding: 8px 12px; 
  border-radius: 3px; 
  background-color: transparent; 
}

.blog-link:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

