.home {
    padding-top: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .centered-box-blog {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%; 
    margin: 20px auto; 
    padding: 2rem; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
  
  .main-title, .description-text, .post-author-date, .post-content, .post-citations {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    line-height: 1.6;
    padding: 10px;
  }
  
  .post-author-date {
    font-style: italic;
    color: #666; 
    font-size: 0.875rem; 
    margin-bottom: 5px; 
  }
  
  .post-citations {
    font-size: 0.75rem; 
    color: #888;
    margin-top: 20px;
    padding: 10px 20px; 
    border-radius: 5px;
  }
  
  @media (max-width: 768px) { 
    .centered-box-blog {
      width: 95%;
      padding: 1rem; 
    }
  
    .main-title, .description-text, .post-author-date, .post-content {
    font-size: 90%; 
    }
  }
  
  @media (max-width: 480px) { 
    .centered-box-blog {
      width: 100%; 
      border-radius: 10px; 
    }
  
    .main-title, .description-text, .post-author-date, .post-content {
    font-size: 85%; 
    }
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }